@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/leaflet/dist/leaflet.css';

.leaflet-container {
  height: 600px;
  width: 100%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}
